.color {
  display: inline-block;
  width: 39px;
  height: 39px;
  border: 1px solid black;
}

.pixel {
  display: inline-block;
  width: 39px;
  height: 39px;
  border: 1px solid black;
}

.linha-pixel {
  line-height: 0px;
}


#cor1 {
  background-color: black;
}

#cor2 {
  background-color: red;
}

#cor3 {
  background-color: green;
}

#cor4 {
  background-color: blue;
}